<!DOCTYPE html>
<html lang="en">

<head>
  <title>NBCUniversal TVP</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link href="stylesheets/main.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">NBCUniversal TVP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/request/new">Form</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/request/search" method="post">
        <input class="form-control mr-sm-2" type="search" name="requestId" placeholder="Search Request" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      </ul>
    </div>
  </nav>
  <br>

 <%if (success && success.length > 0) {%>
  <div class="container">
    <div class="alert alert-success">
      <%= success %>
    </div>
  </div>
  <%}%>
  <%if (error && error.length > 0) {%>
  <div class="container">
    <div class="alert alert-danger">
      <%= error %>
    </div>
  </div>
  <%}%>

  <!-- 
  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="/home">
      <img src='photo/nbc-logo.jpg' style="width:64.73px;height:50px;float:left" alt="">
      <img src='photo/nbc-word.ico' style="height:50px;float:right" alt="">
    </a>
  </nav> -->