<% include ../partials/header %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Welcome to TVP</h1>
      <p class="lead">Welcome to our website and online request form</p>
      <hr class="my-4">
      <p>Click below to access our request form</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/request/new" role="button">Request Form</a>
      </p>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2 class="mt-4">What We Do</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi?
          Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi,
          natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="#">Search Request</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2 class="mt-4">Contact Us</h2>
        <strong>Hours of Operations</strong>
        <br> Monday: 9am - 5pm
        <br>Tuesday: 9am - 5pm
        <br> Wednesday: 9am - 5pm
        <br>Thursday: 9am - 5pm
        <br> Friday: 9am - 5pm
        <hr>
        <address>
          <strong>NBCU TVP West Coast</strong>
          <br>10 Universal City Plaza
          <br>Universal City, CA 91608
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (818)777-4887
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:tvp.support@nbcuni.com">tvp.support@nbcuni.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <% include ../partials/footer %>